.container {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.wrapper {
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 20px 0;
    width: 100%;
    justify-content: center;
    text-align: center;

    div {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.input {
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 10px;
    color: grey;
    outline: none;
}
