.detail{
    position: relative;
    display: flex;
    color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(#9d7ab4, #c13584);

    > img{
        border-radius: 500px;
        box-shadow: 5px 12px 5px rgba(0, 0, 0, 0.2);
        width: 200px;
    }

    justify-content: center;
}

.listing{
    list-style: none;
}
.close{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 15px;
    border-radius: 200px;
    border: none;
    outline: none;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
}

.footer{
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 1;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}