.App {
  text-align: center;
}

.img-circle {
  border-radius: 50px;
  border: solid 2px #bf3585;
}

.input {
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 10px;
  color: grey;
  outline: none;
  border: solid 1px rgb(93, 93, 93);
  background-color: red;
}

.btn-submit {
  padding: 15px;
  border-radius: 15px;
  background: teal;
  color: #fff;
  width: 100px;
  outline: none;
  border: none;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.26);
}

.btn-add, .btn-del {
  // padding: 15px;
  width: 50px; height: 50px;
  border-radius: 100%;
  outline: none;
  border: none;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.26);
  background-color: teal;
  color: #fff;
}

.btn-del{
  background: crimson;
}
