$base-color: #ff6600;
$secondary-color: #c78888;

.input, .inputRed{
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 10px;
    color: grey;
    outline: none;
    background-color: $base-color;

    &.inputRed{
        background-color: $secondary-color;
    }   
}